---
layout: main 
---
<section class="level0-section" id="presentation">
	<header>
	<svg viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
	</svg>
	<h1>Presentation</h1>
	</header>

	<section class="text-section-content">
		{% for presentation-text in site.presentation %}
			{{ presentation-text.content }}
		{% endfor %}
	</section>
</section>

<section class="level0-section" id="experience">
	<header>
		<svg viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
			<path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3 class="text-section-title"A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"/>
		</svg>
		<h1>Experience</h1>
	</header>

	{% for exp in site.experience reversed %}
	<section class="text-section">
		<h2 class="date"> {{ exp.period }}</h2>
		<h3 class="text-section-title"><a href="#exp{{forloop.index0}}" data-toggle="collapse">{{ exp.title }}</a></h3 class="text-section-title">
		<div id="exp{{forloop.index0}}" class="text-section-content collapse {% if forloop.index0 == 0 %}show{% endif %}">
			{{ exp.content }}
		</div>
	</section>
	{% endfor %}
</section>

<section class="level0-section" id="education">
	<header>
		<svg viewBox="0 0 16 16" class="bi bi-book-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
		</svg>
		<h1>Education</h1>
	</header>

	{% for edu in site.education reversed %}
	<h2 class="date">{{ edu.period }}</h2>
	<section class="text-section">
		<h3 class="text-section-title"><a href="#edu-item{{forloop.index0}}" data-toggle="collapse">{{ edu.title }}</a></h3 class="text-section-title">
		<div id="edu-item{{forloop.index0}}" class="text-section-content collapse {% if forloop.index0 == 0 %}show{% endif %}">
			{{ edu.content }}
		</div>
	</section>
	{% endfor %}
</section>

<section class="level0-section skills-section" id="skills">
	<header>
		<svg viewBox="0 0 16 16" class="bi bi-braces" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
		</svg>
		<h1>Technical skills</h1>
		<p>My skills profile in development is mainly related to 3D computer graphics, interactive applications and web-based platforms (front and back-end).</p>
	</header>

	{% for skill-type in site.data.skill-types %}
	<section class="skills-category">
		<h2>{{ skill-type.title }}</h2>
		{% assign skills = site.data.skills | where:'type',{{skill-type.name}} %}
		{% for skill in skills %}
		<section class="skill-item">
			{{ skill.name }}
			<div class="progress">
				<div class="progress-bar v{{skill.level}}" role="progressbar" aria-valuenow="{{skill.level}}" aria-valuemin="0" aria-valuemax="7"></div>
			</div>
		</section>
		{% endfor %}
	</section>
	{% endfor %}

	<footer>This is just a quick overview. Feel free to ask me for more details about any of these assets.</footer>
</section>

<section class="level0-section" id="projects">
	<header>
		<svg viewBox="0 0 16 16" class="bi bi-cpu-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5A1.5 1.5 0 0 0 5 6.5v3A1.5 1.5 0 0 0 6.5 11h3 class="text-section-title"A1.5 1.5 0 0 0 11 9.5v-3A1.5 1.5 0 0 0 9.5 5h-3zm0 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3 class="text-section-title"a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
		</svg>
		<h1>Main projects</h1>
		<p>These are the most significant projects I've had the opportunity to work on, since 2014. Click on any project title below for more details.</p>
	</header>

	<h2>Professional</h2>
	{% for project in site.professional_projects reversed %}
	<section class="text-section">
		<h3 class="text-section-title"><a href="#pro-item{{forloop.index0}}" data-toggle="collapse">{{ project.title }}</a></h3 class="text-section-title">
		<div id="pro-item{{forloop.index0}}" class="text-section-content collapse {% if forloop.index0 == 0 %}show{% endif %}">
			{{ project.content }}
		</div>
	</section>
	{% endfor %}

	<h2>Academic</h2>
	{% for project in site.academic_projects reversed %}
	<section class="text-section">
		<h3 class="text-section-title"><a href="#academic-item{{forloop.index0}}" data-toggle="collapse">{{ project.title }}</a></h3 class="text-section-title">
		<div id="academic-item{{forloop.index0}}" class="text-section-content collapse">
			{{ project.content }}
		</div>
	</section>
	{% endfor %}

	<h2>Side projects</h2>
	{% for project in site.side_projects reversed %}
	<section class="text-section">
		<h3 class="text-section-title"><a href="#side-item{{forloop.index0}}" data-toggle="collapse">{{ project.title }}</a></h3 class="text-section-title">
		<div id="side-item{{forloop.index0}}" class="text-section-content collapse">
			{{ project.content }}
		</div>
	</section>
	{% endfor %}
</section>