@import "variables";
@import "../bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Serif+Pro');

$default-margin: 5px;

// Global styling

html {
	scroll-behavior: smooth;
}
body {
	color: $secondary;
}
p {
    font-family: $font-family-sans-serif;
    font-size: medium;
}
code {
	color: darken($primary, 20%);
}
h1, h3, h5 {
	font-family: $font-family-serif;
	color: $primary;
}
h2, h4, h6 {
	font-family: $font-family-serif;
	color: $secondary;
}

// Left panel

.left-panel {
    position: fixed;
	z-index: 2;

	header {
		font-size: 2em;
		line-height: 1.0;
	}
	
	.navbar-collapse {
		margin-top: 5 * $default-margin;
	}

	.navbar-collapse, .navbar-nav {
		flex-direction: column;
		align-items: start;
	}

	.responsive-profile-picture-adapter {
		width: 85%;
	}
    
    .circled-profile-picture {
        width: 100%;
        height: 100%;
        padding-top: 100%;
        display: block;
        border-radius: 50%;
        background-image: url("../img/Paul-Elian.jpg");
        //to center the image
        background-position-x: center;
        background-position-y: center;
        //reducing resolution
        background-size: cover;

        .email-icon {
            width: 3em;
        }
	}
	
	// Nav styling for very large screen devices
    @media only screen and (min-width:1000px) {
        .responsive-profile-picture-adapter {
            width: 50%;
            margin: 0 auto;
        }
    }
	// Nav styling for large screen devices
    @media only screen and (min-width: 767px) {
        display: flex;
        align-items: center;
        height: 100%;
        .navbar {
            width: 100%;
            border: 0px;
		}
    }
	// Nav styling for small screen devices
    @media only screen and (max-width: 767px) {
		nav {
			.navbar-toggler {
				color: $primary;
				font-size: x-large;
			}
			background-color: black;
			opacity: 90%;
		}
        .responsive-profile-picture-adapter {
            width: 30%;
            margin: 0 auto;
        }
        header {
            display: none;
        }
	}
	// Nav styling for very small screen devices
    @media only screen and (max-height: 600px) {
        .circled-profile-picture {
            display: none;
        }
	}
	// Nav styling for extra small screen devices
    @media only screen and (max-height: 450px) {
        figcaption {
            display: none;
        }
	}
	
	// Nav global styling
    nav {
        li > a.nav-link {
            padding-left: 0px;
            padding-right: 0px;
			background-color: transparent;
			color: $secondary;
        }
        li > a.nav-link.active {
            padding-left: $default-margin;
            background-color: transparent;
            font-weight: bold;
			font-size: x-large;
			display: inline;
			color: $primary;
        }
		li > a.nav-link.active::before {
			content: ">"
		}
    }
}

// Right panel

.right-panel {
    margin-bottom: 16 * $default-margin;
	z-index: 1;

	// Increase padding on small screen devices
    @media only screen and (max-width:768px) {
        padding-left: 5 * $default-margin;
        padding-right: 5 * $default-margin;
    }

    svg {
		width: 1.1em;
		height: 1.1em;
    }
    h1 {
        margin-top: 15 * $default-margin;
        color: $primary;
	}
	h3 {
		font-size: $font-size-base * 1.2;
	}

	.text-section-title {
		color: $primary;
	}
    .text-section {
        color: $gray-200;
        margin-top: 2 * $default-margin;
        padding-left: 2 * $spacer;
		border-left: 2px solid $primary;
		img {
			width: 100%;
		}
		li {
			margin: 0.5 * $spacer 0;
		}
    }
    .date {
        color: $secondary;
        left: - 5 * $default-margin;
        margin-bottom: 0px;
        padding-left: 0px;
	}

	.skills-section {
		.skills-category {
			margin-top: 1.2 * $spacer;
		}
		.skill-item {
			margin-bottom: 1.8 * $default-margin;
		}

		.progress {
			height: 5px;
			background-color: $gray-600;
			.v7 {
				width: 100%;
			}
			.v6 {
				width: 6.0/7 * 100%;
			}
			.v5 {
				width: 5.0/7 * 100%;
			}
			.v4 {
				width: 4.0/7 * 100%;
			}
			.v3 {
				width: 3.0/7 * 100%;
			}
			.v2 {
				width: 2.0/7 * 100%;
			}
			.v1 {
				width: 1.0/7 * 100%;
			}   
		}
	}
}
